nav ul a {
  position: relative;
  color: aqua;
}
nav ul a::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 0;
  height: 4px;
  background-color: orange;
  border-radius: 10px;
  transition: 0.5s;
}

nav ul a.active::after {
  width: 60%;
}
