<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Gametiv</title>
  </head>
  <body>
    <section class="login-page">
      <div>
        <form>
          <div class="img">
            <img src="./assets/image/GAMETIVE_LOGO_BAR.png" alt="" />
          </div>
          <h2>Log in</h2>
          <label for="">Email</label>
          <input type="email" placeholder="Input your email" />
          <label for="">Password</label>
          <input type="password" placeholder="Input your password" />
          <button>Log in</button>
          <div class="g-sign-in"></div>
          <p>Dont have an account? click here to <a>Create</a></p>
        </form>
      </div>
    </section>

    <section class="register-page">
      <div>
        <form>
          <div class="img">
            <img src="./assets/image/GAMETIVE_LOGO_BAR.png" alt="" />
          </div>
          <h2>Register</h2>
          <label for="">Email</label>
          <input type="email" placeholder="Input your email" />
          <label for="">Password</label>
          <input type="password" placeholder="Input your password" />
          <label for="">Phone Number</label>
          <input type="tel" placeholder="Input your password" />
          <label for="">Address</label>
          <input type="text" placeholder="Input your password" />
          <button>Log in</button>
          <p>Dont have an account? click here to <a>Log in</a></p>
        </form>
      </div>
    </section>

    <header>
      <div class="img">
        <img src="./assets/image/GAMETIVE_LOGO_BAR.png" alt="" />
      </div>
      <div>
        <a>Event list</a>
        <a>Event Regestration</a>
        <a>Sign In</a>
      </div>
    </header>

    <main>
      <div class="detail">
        <div class="detail-img">
          <img
            src="https://images.contentstack.io/v3/assets/blt370612131b6e0756/blt949920a2daca917e/5fad835646f622769b5edc16/LoL_WR_KV_Wallpaper_1920x1080.jpg"
            alt=""
          />
        </div>
        <div>
          <h1>Wildrift Competition for Noobs</h1>
          <span class="status">OFFLINE</span>
          <h2>Description</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            beatae ipsum a quaerat nisi. Soluta cum tenetur laborum, nam
            obcaecati atque corporis quas fugiat error placeat, consectetur
            dolore saepe iusto deserunt sequi voluptas pariatur facilis quisquam
            natus reiciendis aperiam possimus explicabo repudiandae! Eius quas
            beatae debitis ullam eum aliquid ipsam!
          </p>
          <h2>Rules</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            beatae ipsum a quaerat nisi. Soluta cum tenetur laborum, nam
            obcaecati atque corporis quas fugiat error placeat, consectetur
            dolore saepe iusto deserunt sequi voluptas pariatur facilis quisquam
            natus reiciendis aperiam possimus explicabo repudiandae! Eius quas
            beatae debitis ullam eum aliquid ipsam!
          </p>
          <div>
            <p>Lokasi: Jakarta Selatan</p>
            <p>Mulai: Jumat, 15 September 2050</p>
            <p>Regestration Fee: Rp. 150.000,00</p>
          </div>
        </div>
      </div>

      <div class="search-page">
        <div class="search-bar">
          <input type="text" placeholder="Search here..." />
        </div>
        <div>
          <div>
            <div class="img">
              <img
                src="https://images.contentstack.io/v3/assets/blt370612131b6e0756/blt949920a2daca917e/5fad835646f622769b5edc16/LoL_WR_KV_Wallpaper_1920x1080.jpg"
                alt=""
              />
            </div>
            <div>
              <h1>Wildrift Competition for Noobs</h1>
              <span class="status">OFFLINE</span>
              <div>
                <p>Lokasi: Jakarta Selatan</p>
                <p>Mulai: Jumat, 15 September 2050</p>
                <p>Regestration Fee: Rp. 150.000,00</p>
              </div>
            </div>
          </div>
          <div>
            <div class="img">
              <img
                src="https://images.contentstack.io/v3/assets/blt370612131b6e0756/blt949920a2daca917e/5fad835646f622769b5edc16/LoL_WR_KV_Wallpaper_1920x1080.jpg"
                alt=""
              />
            </div>
            <div>
              <h1>Wildrift Competition for Noobs</h1>
              <span class="status">OFFLINE</span>
              <div>
                <p>Lokasi: Jakarta Selatan</p>
                <p>Mulai: Jumat, 15 September 2050</p>
                <p>Regestration Fee: Rp. 150.000,00</p>
              </div>
            </div>
          </div>
          <div>
            <div class="img">
              <img
                src="https://images.contentstack.io/v3/assets/blt370612131b6e0756/blt949920a2daca917e/5fad835646f622769b5edc16/LoL_WR_KV_Wallpaper_1920x1080.jpg"
                alt=""
              />
            </div>
            <div>
              <h1>Wildrift Competition for Noobs</h1>
              <span class="status">OFFLINE</span>
              <div>
                <p>Lokasi: Jakarta Selatan</p>
                <p>Mulai: Jumat, 15 September 2050</p>
                <p>Regestration Fee: Rp. 150.000,00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
