.detail {
  display: flex;
  margin: 80px 350px;
}

.detail>.game {
  align-self: flex-start;
  position: relative;
  left: 130px;
}

.detail>.game,
.detail>.event {
  width: 600px;
}

.game-img,
.event-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.game-img {
  justify-content: start;
  position: relative;
}

.game-img>img {
  filter: brightness(40%);
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.game-img>img,
.event-img>img {
  width: 800px;
}

.detail>.game>.game-img>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #f5f5f5;
  text-align: left;
  padding: 30px;
}

.detail>.event>div:nth-child(2)>* {
  margin: 15px 0;
}

.detail .game:hover {
  cursor: pointer;
}

.detail .game:hover .game-img>img {
  transform: scale(1.3);
}

.detail>.event span.status {
  font-weight: bold;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 10px;
}

.detail>.event>h2 {
  font-weight: lighter;
}

.detail>.event .button {
  display: flex;
  flex-direction: column;
}

.detail>.event .button button {
  margin-top: 30px;
}

.detail>.event .button button:nth-child(1) {
  background-color: orange;
  font-weight: bold;
  border: none;
  color: #f5f5f5;
  padding: 10px 10px;
  border-radius: 10px;
  margin-right: 5px;
}

.detail>.event .button .back {
  background-color: gray;
  border: none;
  color: #f5f5f5;
  padding: 5px 15px;
  border-radius: 10px;
  align-self: flex-start;
}

.bi-geo-alt-fill,
.bi-flag-fill,
.bi-cash,
.fa-map {
  margin-right: 15px;
}