footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 80px;
  background-color: black;
  color: #F5F5F5;
  box-shadow: 0 -5px 20px #00000079;
}

footer > div {
  flex: 1;
  margin: 0 20px;
  text-align: center;
  font-weight: bold;
}

footer .img img {
  width: 30%;
}