header {
  z-index: 1;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  background-color: #00000070;
}

header > .img {
  width: 250px;
}

header > .img > img {
  width: 100%;
}

header > div > a {
  margin: 0 10px;
  color: white;
  font-weight: bold;
}

