header {
  z-index: 3;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 80px;
  align-items: center;
  background-color: #00000070;
}

header > .img {
  width: 250px;
}

header > .img > img {
  cursor: pointer;
  width: 100%;
}

header > div:nth-child(1) {
  display: none;
  color: white;
  font-weight: bold;
}
header > div:nth-child(3) {
  display: flex;
  flex-direction: row;
}

header > div > a {
  position: relative;
  margin: 0 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 0;
}

header > div > a:hover {
  color: white;
  cursor: pointer;
}

header > div > a::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 0;
  height: 4px;
  background-color: orange;
  border-radius: 10px;
  transition: 0.5s;
}

header > div > a.active::after {
  width: 100%;
}

header .dropdown {
  padding: 8px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

header .fa-user {
  color: orange;
  margin-left: 10px;
}

header .submenu {
  top: 55px;
  right: 0;
  width: 165px;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: absolute;
  background-color: #263238;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-right: 3px solid orange;
}

header .submenu > * {
  user-select: none;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
}

header .submenu > *:hover {
  cursor: pointer;
}

header .dropdown:hover .submenu,
header .dropdown:active .submenu {
  opacity: 1;
  height: 100px;
  padding: 10px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 4;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  user-select: none;
  padding-top: 50px;
}

.side-bar > * {
  padding: 10px 0;
  color: #f5f5f5;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  position: relative;
}

.side-bar > a::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 0;
  height: 4px;
  background-color: orange;
  border-radius: 10px;
  transition: 0.5s;
}

.side-bar > a:hover {color: #f5f5f5;}
.side-bar > a.active {color: #f5f5f5;}

.side-bar > a.active::after {
  width: 100%;
}

.hamburger:hover .side-bar,
.hamburger:active .side-bar {
  width: 250px;
  padding: 50px 30px;
}

@media only screen and (max-width: 1030px) {
  header {
    padding: 8px 20px;
  }
}

@media only screen and (max-width: 720px) {
  header > div:nth-child(1) {
    display: block;
  }
  header > div:nth-child(3) {
    display: none
  }
}
