.trailers {
  padding: 20px;
  background-color: orange;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

/* .about-us {
    display: flex;
    background-color: orange;
    padding: 130px;
}

.text-us {
    margin: auto;
    margin-right: 70px;
    margin-top: 11%;
}

.text-us h1 {
    color: white;
    font-size: 70px;
    font-weight: bolder;
}

.text-us p {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.line-us {
    border: none;
    height: 1px;
    background-color: rgb(255, 255, 255);
    opacity: 100%;
}

.about-us2 {
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 90px;
}

.text-us2 {
    margin: auto;
    margin-left: 70px;
    margin-top: 7%;
}

.text-us2 h1 {
    color: white;
    font-size: 70px;
    font-weight: bolder;
}

.text-us2 p {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.line-us2 {
    border: none;
    height: 1px;
    background-color: rgb(255, 255, 255);
    opacity: 100%;
} */

.about-us1,
.about-us2 {
  padding: 50px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  position: relative;
}

.text-us {
  padding: 0 20px;
}

.text-us h1 {
  font-size: 70px;
  font-weight: bold;
}

.line-us {
  border: none;
  height: 2px;
  background-color: #f5f5f5;
  opacity: 100%;
}

.text-us p {
  font-size: 20px;
  font-weight: 500;
}

.about-us1 {
  background-color: orange;
}

.about-us2 {
  background-color: black;
  flex-direction: row-reverse;
}
