@import "./loginPage.css";
@import "./registerPage.css";
@import "./header.css";
@import "./home.css";
@import "./main.css";
@import "./imageCarousel.css";
@import "./videoCarousel.css";
@import "./loading.css";
@import "./bracket.css";
@import "./eventRegestration.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
